# Data Cleaning
This notebook handles:
1. Dataset Format Unifying
2. Nulls Estimation
3. Invalid Records Removal
4. Duplicates Removal

In [87]:
import pandas as pd

df = pd.read_csv("data/Melbourne_Housing_Market.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

## Dataset Format Unifying

In [88]:
df.rename(columns={"Type": "UnitType", "Method": "SaleMethod", "SellerG": "RealEstateAgent", "Date": "SaleDate",
                   "Distance": "DistanceToCBD", "Bedroom2": "Bedrooms", "Bathroom": "Bathrooms", "Car": "CarSpots",
                   "Landsize": "LandSize", "Lattitude": "Latitude", "Longtitude": "Longitude",
                   "Regionname": "RegionName", "Propertycount": "NeighbouringProperties"}, inplace=True)
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [89]:
floatColumns = ["DistanceToCBD", "BuildingArea", "Latitude", "Longitude"]
intColumns = [column for column in df.select_dtypes(include=[int, float]).columns if column not in floatColumns]
for column in intColumns:
    df[column] = pd.to_numeric(df[column], errors="coerce").astype("Int64")
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,h,<NA>,SS,Jellis,3/09/2016,2.5,3067,...,1,1,126,NaN,<NA>,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1,202,NaN,<NA>,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/02/2016,2.5,3067,...,1,0,156,79.0,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,<NA>,VB,Rounds,4/02/2016,2.5,3067,...,2,1,0,NaN,<NA>,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134,150.0,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019

In [90]:
df["UnitType"] = df["UnitType"].replace({"h": "House", "u": "Duplex", "t": "Town House"})
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,House,<NA>,SS,Jellis,3/09/2016,2.5,3067,...,1,1,126,NaN,<NA>,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,House,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1,202,NaN,<NA>,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,House,1035000,S,Biggin,4/02/2016,2.5,3067,...,1,0,156,79.0,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,Duplex,<NA>,VB,Rounds,4/02/2016,2.5,3067,...,2,1,0,NaN,<NA>,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,House,1465000,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134,150.0,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019

In [91]:
saleMethodAbbreviations = {"S": "Sold", "SP": "Sold Prior", "PI": "Passed In", "VB": "Vendor Bid",
                           "SN": "Sold Not Disclosed", "PN": "Sold Prior Not Disclosed", "SA": "Sold After Auction",
                           "W": "Withdrawn Prior to Auction", "SS": "Sold After Auction Not Disclosed"}
df["SaleMethod"] = df["SaleMethod"].replace(saleMethodAbbreviations)
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,House,<NA>,Sold After Auction Not Disclosed,Jellis,3/09/2016,2.5,3067,...,1,1,126,NaN,<NA>,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,House,1480000,Sold,Biggin,3/12/2016,2.5,3067,...,1,1,202,NaN,<NA>,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,House,1035000,Sold,Biggin,4/02/2016,2.5,3067,...,1,0,156,79.0,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,Duplex,<NA>,Vendor Bid,Rounds,4/02/2016,2.5,3067,...,2,1,0,NaN,<NA>,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,House,1465000,Sold Prior,Biggin,4/03/2017,2.5,3067,...,2,0,134,150.0,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019

In [92]:
df["SaleDate"] = pd.to_datetime(df["SaleDate"], format="mixed")
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,House,<NA>,Sold After Auction Not Disclosed,Jellis,2016-03-09,2.5,3067,...,1,1,126,NaN,<NA>,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,House,1480000,Sold,Biggin,2016-03-12,2.5,3067,...,1,1,202,NaN,<NA>,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,House,1035000,Sold,Biggin,2016-04-02,2.5,3067,...,1,0,156,79.0,1900,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,Duplex,<NA>,Vendor Bid,Rounds,2016-04-02,2.5,3067,...,2,1,0,NaN,<NA>,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,House,1465000,Sold Prior,Biggin,2017-04-03,2.5,3067,...,2,0,134,150.0,1900,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019

In [93]:
df["CouncilArea"] = df["CouncilArea"].str.replace(" Council", "")
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68 Studley St,2,House,<NA>,Sold After Auction Not Disclosed,Jellis,2016-03-09,2.5,3067,...,1,1,126,NaN,<NA>,Yarra City,-37.8014,144.9958,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,House,1480000,Sold,Biggin,2016-03-12,2.5,3067,...,1,1,202,NaN,<NA>,Yarra City,-37.7996,144.9984,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,House,1035000,Sold,Biggin,2016-04-02,2.5,3067,...,1,0,156,79.0,1900,Yarra City,-37.8079,144.9934,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,Duplex,<NA>,Vendor Bid,Rounds,2016-04-02,2.5,3067,...,2,1,0,NaN,<NA>,Yarra City,-37.8114,145.0116,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,House,1465000,Sold Prior,Biggin,2017-04-03,2.5,3067,...,2,0,134,150.0,1900,Yarra City,-37.8093,144.9944,Northern Metropolitan,4019

In [94]:
nonAlNumLetters = set()
for column in df.select_dtypes(include=object).columns:
    for cell in df[column]:
        if isinstance(cell, str):
            for letter in cell:
                if not letter.isalnum():
                    nonAlNumLetters.add(letter)
nonAlNumLetters

{' ', '&', "'", '-', '.', '/', '@'}

In [95]:
for column in df.select_dtypes(include=object).columns:
    df[column] = df[column].str.strip().str.title()
    for nonAlNumLetter in nonAlNumLetters:
        df[column] = df[column].str.replace(nonAlNumLetter, "_")
    df[column] = df[column].str.strip("_")
df.head()

,Suburb,Address,Rooms,UnitType,Price,SaleMethod,RealEstateAgent,SaleDate,DistanceToCBD,Postcode,...,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longitude,RegionName,NeighbouringProperties
0,Abbotsford,68_Studley_St,2,House,<NA>,Sold_After_Auction_Not_Disclosed,Jellis,2016-03-09,2.5,3067,...,1,1,126,NaN,<NA>,Yarra_City,-37.8014,144.9958,Northern_Metropolitan,4019
1,Abbotsford,85_Turner_St,2,House,1480000,Sold,Biggin,2016-03-12,2.5,3067,...,1,1,202,NaN,<NA>,Yarra_City,-37.7996,144.9984,Northern_Metropolitan,4019
2,Abbotsford,25_Bloomburg_St,2,House,1035000,Sold,Biggin,2016-04-02,2.5,3067,...,1,0,156,79.0,1900,Yarra_City,-37.8079,144.9934,Northern_Metropolitan,4019
3,Abbotsford,18_659_Victoria_St,3,Duplex,<NA>,Vendor_Bid,Rounds,2016-04-02,2.5,3067,...,2,1,0,NaN,<NA>,Yarra_City,-37.8114,145.0116,Northern_Metropolitan,4019
4,Abbotsford,5_Charles_St,3,House,1465000,Sold_Prior,Biggin,2017-04-03,2.5,3067,...,2,0,134,150.0,1900,Yarra_City,-37.8093,144.9944,Northern_Metropolitan,4019

In [96]:
df = df[df.select_dtypes(include=object).columns.tolist() + df.select_dtypes(exclude=object).columns.tolist()]
columns = ["SaleDate"] + [column for column in df.columns if column not in ["SaleDate", "Price"]] + ["Price"]
df = df[columns]
df.head()

,SaleDate,Suburb,Address,UnitType,SaleMethod,RealEstateAgent,CouncilArea,RegionName,Rooms,DistanceToCBD,...,Bedrooms,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,Latitude,Longitude,NeighbouringProperties,Price
0,2016-03-09,Abbotsford,68_Studley_St,House,Sold_After_Auction_Not_Disclosed,Jellis,Yarra_City,Northern_Metropolitan,2,2.5,...,2,1,1,126,NaN,<NA>,-37.8014,144.9958,4019,<NA>
1,2016-03-12,Abbotsford,85_Turner_St,House,Sold,Biggin,Yarra_City,Northern_Metropolitan,2,2.5,...,2,1,1,202,NaN,<NA>,-37.7996,144.9984,4019,1480000
2,2016-04-02,Abbotsford,25_Bloomburg_St,House,Sold,Biggin,Yarra_City,Northern_Metropolitan,2,2.5,...,2,1,0,156,79.0,1900,-37.8079,144.9934,4019,1035000
3,2016-04-02,Abbotsford,18_659_Victoria_St,Duplex,Vendor_Bid,Rounds,Yarra_City,Northern_Metropolitan,3,2.5,...,3,2,1,0,NaN,<NA>,-37.8114,145.0116,4019,<NA>
4,2017-04-03,Abbotsford,5_Charles_St,House,Sold_Prior,Biggin,Yarra_City,Northern_Metropolitan,3,2.5,...,3,2,0,134,150.0,1900,-37.8093,144.9944,4019,1465000

## Nulls Estimation

In [97]:
df.isnull().sum()

SaleDate                      0
Suburb                        0
Address                       0
UnitType                      0
SaleMethod                    0
RealEstateAgent               0
CouncilArea                   3
RegionName                    3
Rooms                         0
DistanceToCBD                 1
Postcode                      1
Bedrooms                   8217
Bathrooms                  8226
CarSpots                   8728
LandSize                  11810
BuildingArea              21115
YearBuilt                 19306
Latitude                   7976
Longitude                  7976
NeighbouringProperties        3
Price                      7610
dtype: int64

In [98]:
df.dropna(subset=["Price"], inplace=True)
df.isnull().sum()

SaleDate                      0
Suburb                        0
Address                       0
UnitType                      0
SaleMethod                    0
RealEstateAgent               0
CouncilArea                   3
RegionName                    3
Rooms                         0
DistanceToCBD                 1
Postcode                      1
Bedrooms                   6441
Bathrooms                  6447
CarSpots                   6824
LandSize                   9265
BuildingArea              16591
YearBuilt                 15163
Latitude                   6254
Longitude                  6254
NeighbouringProperties        3
Price                         0
dtype: int64

In [99]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
df["SaleDate"] = df["SaleDate"].astype("int64")
df[df.select_dtypes(include=[int, float]).columns] = imputer.fit_transform(
    df[df.select_dtypes(include=[int, float]).columns])
df["SaleDate"] = pd.to_datetime(df["SaleDate"])
df[df.select_dtypes(include=[int, float]).columns].isnull().sum()

Rooms                     0
DistanceToCBD             0
Postcode                  0
Bedrooms                  0
Bathrooms                 0
CarSpots                  0
LandSize                  0
BuildingArea              0
YearBuilt                 0
Latitude                  0
Longitude                 0
NeighbouringProperties    0
Price                     0
dtype: int64

In [100]:
imputer = SimpleImputer(strategy='most_frequent')
df[df.select_dtypes(include=object).columns] = imputer.fit_transform(df[df.select_dtypes(include=object).columns])
df[df.select_dtypes(include=object).columns].isnull().sum()

Suburb             0
Address            0
UnitType           0
SaleMethod         0
RealEstateAgent    0
CouncilArea        0
RegionName         0
dtype: int64

In [101]:
df.isnull().sum()

SaleDate                  0
Suburb                    0
Address                   0
UnitType                  0
SaleMethod                0
RealEstateAgent           0
CouncilArea               0
RegionName                0
Rooms                     0
DistanceToCBD             0
Postcode                  0
Bedrooms                  0
Bathrooms                 0
CarSpots                  0
LandSize                  0
BuildingArea              0
YearBuilt                 0
Latitude                  0
Longitude                 0
NeighbouringProperties    0
Price                     0
dtype: int64

## Invalid Records Removal

In [102]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
SaleDate,27247,2017-05-17 18:07:19.975042816,2016-01-28 00:00:00,2016-10-15 00:00:00,2017-07-10 00:00:00,2017-10-28 00:00:00,2018-10-03 00:00:00,NaN
Rooms,27247.0,2.992293,1.0,2.0,3.0,4.0,16.0,0.954795
DistanceToCBD,27247.0,11.280247,0.0,6.4,10.5,14.0,48.1,6.787346
Postcode,27247.0,3113.795133,3000.0,3046.0,3088.0,3153.0,3978.0,111.137746
Bedrooms,27247.0,3.035307,0.0,3.0,3.0,3.0,20.0,0.834856
Bathrooms,27247.0,1.451683,0.0,1.0,1.0,2.0,9.0,0.661993
CarSpots,27247.0,1.786655,0.0,1.0,2.0,2.0,18.0,0.869543
LandSize,27247.0,565.779645,0.0,351.0,512.0,592.0,433014.0,3052.546357
BuildingArea,27247.0,142.321442,0.0,133.0,133.0,133.0,44515.0,281.163583
YearBuilt,27247.0,1968.496165,1196.0,1970.0,1970.0,1970.0,2019.0,24.539477
Latitude,27247.0,-37.80547,-38.19043,-37.84283,-37.80046,-37.766,-37.3978,0.080466
Longitude,27247.0,144.9982,144.42379,144.95435,145.0032,145.04835,145.52635,0.105963
NeighbouringProperties,27247.0,7566.67101,83.0,4294.0,6567.0,10412.0,21650.0,4492.147337
Price,27247.0,1050173.344955,85000.0,635000.0,870000.0,1295000.0,11200000.0,641467.130105

No Invalid Records Were Found

## Duplicates Removal

In [103]:
df.duplicated().sum()

np.int64(0)

In [104]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

## Clean Data Saving

In [105]:
df.head()

,SaleDate,Suburb,Address,UnitType,SaleMethod,RealEstateAgent,CouncilArea,RegionName,Rooms,DistanceToCBD,...,Bedrooms,Bathrooms,CarSpots,LandSize,BuildingArea,YearBuilt,Latitude,Longitude,NeighbouringProperties,Price
1,2016-03-12,Abbotsford,85_Turner_St,House,Sold,Biggin,Yarra_City,Northern_Metropolitan,2.0,2.5,...,2.0,1.0,1.0,202.0,133.0,1970.0,-37.7996,144.9984,4019.0,1480000.0
2,2016-04-02,Abbotsford,25_Bloomburg_St,House,Sold,Biggin,Yarra_City,Northern_Metropolitan,2.0,2.5,...,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0,1035000.0
4,2017-04-03,Abbotsford,5_Charles_St,House,Sold_Prior,Biggin,Yarra_City,Northern_Metropolitan,3.0,2.5,...,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0,1465000.0
5,2017-04-03,Abbotsford,40_Federation_La,House,Passed_In,Biggin,Yarra_City,Northern_Metropolitan,3.0,2.5,...,3.0,2.0,1.0,94.0,133.0,1970.0,-37.7969,144.9969,4019.0,850000.0
6,2016-04-06,Abbotsford,55A_Park_St,House,Vendor_Bid,Nelson,Yarra_City,Northern_Metropolitan,4.0,2.5,...,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941,4019.0,1600000.0

In [106]:
df.to_csv("data/CLEANED_Melbourne_Housing_Market.csv", index=False)